* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#container {
  min-height: 90vh;
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  position: relative;
}

nav {
  background-color: #7b58db;
  height: 62px;
}

#callToAction {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#callToAction h1 {
    text-align: left;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}

#intro {
  width: 50%;
  min-height: 90vh;
  background-image: url("./images/intro-image-left.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-color: #F2FAFD;
}

#introDesign {
  width: 50%;
  min-height: 90vh;
  background-image: url("./images/intro-image-right.svg");
  background-repeat: no-repeat;
  background-position: right top;

}

.page-icons {
    position:absolute;
    bottom: 0;
    right: 72px;
    transform: translate(-72px, 0);
}

footer {
  background-color: #7b58db;
  height: 200px;
}
