.about-card-container {
    width: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    margin-top: 56px;
  }

  .section-text {
    width: 80%;
    text-align: left;
    margin: auto;
    font-weight: normal;
  }

  #intro {
    margin-bottom: 156px;
  }
  