#callToAction {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

  #introDesignLeft {
    position: absolute;
    height: 50%;
    width: 45%;
    bottom: 32px;
    background-image: url("../images/intro-image-left.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  #introDesignRight {
    width: 100%;
    min-height: 90vh;
    background-image: url("../images/intro-image-right.svg");
    background-repeat: no-repeat;
    background-position: 104px 64px;
  }