#callToAction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#callToAction h1 {
  letter-spacing: 4px;
}

#landingPageIntro {
  width: 100%;
  height: 100%;
  background-image: url("../images/intro-image-left.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10% 80%;
}

#introDesignRight {
  width: 100%;
  height: 100%;
  background-image: url("../images/intro-image-right.svg");
  background-repeat: no-repeat;
  background-position: 10% 10%;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  #landingPageIntro {
    background-color: rgba(234, 227, 227, 0.071);
  }
}
