@import url(index.css);
@import url(about.css);
@import url(nav.css);
@import url(resume.css);
@import url(projects.css);
@import url(footer.css);
@import url(card.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 18px;
  line-height: 24px;
}

#container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  position: relative;
  margin-bottom: 48px;
}

.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 62px;
}

.link-margin-top {
  margin-top: 8px;
}

.margin-top-large {
  margin-top: 124px;
}

.padding-bottom {
  padding-bottom: 40px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

.page-icons {
  position: absolute;
  bottom: 8px;
  right: 72px;
  transform: translate(-72px, 48px);
}

.btn {
  background-color: #7b58db;
  color: #ffff;
  padding: 14px 40px;
  border-radius: 5px;
  border-style: none;
  border-radius: 5px;
  transition: 0.4s;
}

.btn:hover {
  background-color: #8560ec;
  box-shadow: 3px 4px 10px -4px rgb(0, 0, 0);
  cursor: pointer;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
}

@media screen and (max-width: 767px) {
  .page-icons {
    right: 25%;
    left: 0;
    transform: translate(25%, 0);
  }
  .page-icons img {
    width: 90%;
  }
}